
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.imgBox {
    float: left;
    position: relative;
    padding: 10px;
}

.imgText {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ff4d4d;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 7.5px;
    margin-left: 7.5px;
}

.imgName {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ff4d4d;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 7.5px;
    margin-left: 7.5px;
    font-size: 25px;
    font-weight: bold;
}

#fighterBox {
    border: 2.5px solid black;
    width: fit-content;
    height: 300px;
    margin: auto;
    margin-top: 75px;
    margin-right: 25px;
    float: left;
}

#enemyBox {
    border: 2.5px solid black;
    width: fit-content;
    height: 300px;
    margin: auto;
    margin-top: 75px;
    float: left;
}

#topBox {
    border: 2.5px solid black;
    width: fit-content;
    height: 300px;
    margin: auto;
    margin-top: 75px;
}

#botBox {
    border: 2.5px solid black;
    width: 1185px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
}

img:hover {
    opacity: .3;
}